@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Gudea'
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  transition: all 0.5s ease-in-out;
}

[data-theme="dark"] {
  --bgColor: #212121;
  --elementColor: #2F2F2F;
  --textBoxColor: #2F2F2F;
  --elementTextBoxColor: #F1F1F1;
  --placeHolderText: #7D7D7D;
  --black: #212121;
  --white: #F1F1F1;
  --red: #F06060;
}

[data-theme="light"] {
  --bgColor: #f1f1f1;
  --elementColor: #436850;
  --textBoxColor: #ded9ce;
  --elementTextBoxColor: #212121;
  --placeHolderText: #928F89;
  --black: #212121;
  --white: #f1f1f1;
  --red: #F06060;
}